# Dependencies
node_modules/

# Build output
dist/
build/
*.local

# Vite
.vite/

# Environment
.env
.env.local
.env.*.local

# Logs
logs/
*.log

# Editor / IDE
.idea/
.vscode/*

# OS
.DS_Store
Thumbs.db

# Testing
coverage/

# Cache
.cache/
.eslintcache
*.tsbuildinfo
